:root {
    --bg-main: #1A3263; /* main background */
    --card-bg: #547792; /* forms / cards / navbar */
    --accent: #FAB95B; /* buttons, highlights */
    --text-main: #E8E2DB; /* default text */
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
}

.card {
    background-color: var(--card-bg);
    color: var(--text-main);
    border: none;
    box-shadow: 0 12px 30px rgba(0,0,0,0.35);
}

    .card h1, .card h2, .card h3, .card h4, .card h5, .card h6,
    .card p {
        color: var(--text-main);
    }

    .card a {
        color: var(--accent);
    }

        .card a:hover {
            color: #FFC966;
            text-decoration: none;
        }

.form-control {
    background-color: var(--text-main);
    color: #1A3263;
    border: none;
}

    .form-control::placeholder {
        color: #6c757d;
    }

    .form-control:focus {
        background-color: var(--text-main);
        box-shadow: 0 0 0 0.2rem rgba(250,185,91,0.4);
    }

.form-floating > label {
    color: #1A3263;
}

.btn-primary {
    background-color: var(--accent);
    
    border: none;
    font-weight: 600;
}

    .btn-primary:hover {
        background-color: #FFC966;
       
    }

.text-danger {
    color: #FF4C4C !important;
    font-weight: 700;
}

a {
    color: var(--accent);
}

    a:hover {
        color: #FFC966;
        text-decoration: none;
    }


.navbar {
    background-color: var(--card-bg);
}

    .navbar .navbar-brand {
        color: var(--text-main);
        font-weight: 700;
    }

        .navbar .navbar-brand:hover {
            color: var(--accent);
        }

    .navbar .nav-link {
        color: var(--text-main);
        margin-left: 0.5rem;
        font-weight: 500;
    }

        .navbar .nav-link:hover {
            color: var(--accent);
        }

    .navbar .divider {
        display: inline-block;
        width: 1px;
        height: 24px;
        background-color: var(--text-main);
        margin: 0 10px;
    }


    .navbar .login-register .nav-link {
        color: var(--text-main);
    }

        .navbar .login-register .nav-link:hover {
            color: var(--accent);
        }


    .navbar .btn-logout {
        background: none;
        border: none;
        padding: 0;
        color: var(--text-main);
        cursor: pointer;
        font: inherit;
        text-decoration: none;
    }

        .navbar .btn-logout:hover {
            color: var(--accent);
            text-decoration: none;
        }

.navbar-toggler-icon {
    filter: invert(1);
}

.btn,
.btn-primary,
.btn-outline-light {
    color: var(--text-main) !important; 
}

    .btn:hover,
    .btn-primary:hover,
    .btn-outline-light:hover {
        color: var(--text-main) !important;
    }
